<%- include('parts/top.ejs')%>
 <div class="container mt-5 p-5">
    
    <div class="event_filter">
      <h1>À Propos </h1>
      <span>Qui Nous Sommes ?</span>
      <p>Chez Elite Council Consulting, nous sommes plus qu'une équipe. Nous sommes des passionnés de la technologie, dévoués à transformer les défis en opportunités. Forts de notre expertise multidisciplinaire, nous apportons des solutions novatrices dans divers domaines, allant du développement logiciel à la gestion de projet en passant par la transformation numérique. Notre mission est de catalyser le changement et d'insuffler de la nouveauté à chaque projet que nous entreprenons.
         </p>
    </div>
  </div>


  <div class="team section" id="team">
    <div class="container">
      <h1 style="text-align: center;margin: 20px;">Rencontrez Notre Équipe</h1>
      <div class="row">


        <div class="col-lg-3 col-md-6">
          <div class="team-member">
            <div class="main-content">
              <h4>Directeur Général - Perspective Inspirante</h4>
              <ul class="social-icons">
                <li>Laissez-moi vous souhaiter la bienvenue dans notre univers d'innovation. Chez Elite Council Consulting, nous croyons en la puissance de la technologie pour façonner un avenir brillant. Nous sommes ici pour accompagner votre voyage vers l'excellence technologique.
               </li>
              </ul>
            </div>
          </div>
        </div>


        <div class="col-lg-3 col-md-6">
          <div class="team-member">
            <div class="main-content">
              <h4>Responsable des Études Techniques - Créateur de Solutions</h4>
              <ul class="social-icons">
                <li>Au cœur de chaque solution se trouve une pensée ingénieuse. Mon rôle consiste à transformer les problèmes en opportunités en concevant des solutions techniques exceptionnelles. Votre succès est mon moteur.</li>
              </ul>
            </div>
          </div>
        </div>


        <div class="col-lg-3 col-md-6">
          <div class="team-member">
            <div class="main-content">
              <h4>Responsable d'Appui Professionnel - Votre Partenaire de Confiance </h4>
              <ul class="social-icons">
                <li>
                 En tant que responsable d'appui professionnel, mon engagement est de garantir que chaque interaction avec nous soit fluide et fructueuse. Nous sommes votre partenaire, prêts à vous guider à chaque étape.
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="team-member">
            <div class="main-content">
              <h4>Responsable d'Emprise Stratégique - Cartographie de l'Avenir </h4>
              <ul class="social-icons">
                <li>
                 Naviguer dans un monde en évolution nécessite une stratégie solide. Mon rôle est de définir les parcours stratégiques qui vous mèneront vers vos objectifs, tout en anticipant les défis à venir. 
                </li>
              </ul>
            </div>
          </div>
        </div>



      </div>
    </div>
  </div> 


<%- include('parts/bottom.ejs')%>