<%- include('parts/top.ejs')%>





<div class="services section" id="services">
    <div class="container">
        <h1 style="text-align: center;">Panier</h1>
      <div class="row">
         
  
          </div>
        </div>
      </div>
    




<%- include('parts/bottom.ejs')%>