<%- include('parts/top.ejs')%>


     <h1 style="text-align: center;color: rgb(24, 20, 20);margin-top:120px;">Nos Solutions Clés</h1>

     <div class="container" >
<div class="row" style="margin:20px;">

             
           <div class="col-lg-4 offset-lg-1">
          <div class="section-heading" style="margin-top: 150px;">
            <h2>Consulting Technologique</h2>
            <p><small>Naviguer vers l'Avenir </small> <br>
          Notre consulting technologique guide dans un monde en mutation, optimisant le potentiel et les objectifs. Nos experts vous accompagnent, créant des solutions sur mesure.
             </p>
            
          </div>
        </div>

          <div class="col-lg-7 align-self-center " >
    
    
         <div class="accordion mx-4 mb-5" id="accordionExample" style="margin-top:50px;">
  


    <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
       Analyse des Besoins Technologiques - Votre Parcours Personnalisé :
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
         Comprendre vos défis en profondeur pour des solutions taillées. Notre analyse minutieuse crée des recommandations adaptées.
      </div>
    </div>
  </div>


  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
       Stratégie de Transformation Numérique - Façonnons l'Avenir :
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
       Élaborons une stratégie adaptée, intégrant technologies nouvelles, automatisation et opportunités.
      </div>
    </div>
  </div>


  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        Gestion de Projet Avancée - Votre Vision Réalisée :
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
       Notre équipe expérimentée assure la réussite de vos projets technologiques, du planning à l'exécution.
      </div>
    </div>
  </div>


  <div class="accordion-item">
    <h2 class="accordion-header" id="headingFour">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
       Évaluation de la Cybersécurité - Garantir la Confiance :
      </button>
    </h2>
    <div id="collapseFour" class="accordion-collapse collapse " aria-labelledby="headingFour" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Sécurité primordiale. Notre évaluation dévoile les vulnérabilités pour des stratégies de protection solides.
      </div>
    </div>
  </div>


  <div class="accordion-item">
    <h2 class="accordion-header" id="headingFive">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
       Optimisation des Processus - L'Efficacité à l'Honneur :
      </button>
    </h2>
    <div id="collapseFive" class="accordion-collapse collapse " aria-labelledby="headingFive" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Analyse et améliorations pour une efficacité accrue, coûts réduits et qualité améliorée.
      </div>
    </div>
  </div>
         </div>

         </div>

</div>
     </div>


     <div class="container" >
        <div class="col-lg-8 offset-lg-2">
          <div class="section-heading">
            <h2>Choisir Elite Council Consulting c'est :</h2>
            <p>Une approche sur mesure répondant à vos besoins et objectifs.<br>
               L'expertise d'une équipe hautement qualifiée.<br>
               Des solutions novatrices pour surpasser la concurrence.<br>
               L'utilisation optimale des technologies pour améliorer efficacité et productivité.<br>
               Une stratégie de transformation numérique planifiée et exécutée.<br>
               Renforcement de la sécurité et des données.<br>
               Processus optimisés pour une croissance durable.<br>
            </p>
            
          </div>
        </div>
     </div>

     <div class="container" style="margin-top:100px;">
     <div class="row">  
          <div class="col-lg-6 offset-lg-1">

            <div class="accordion" id="accordionExample">
                  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Téléphonie IP Sécurisée et Innovante - Connectivité Révolutionnée :
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Redéfinissez la communication avec notre solution moderne et sécurisée. Restez connecté, flexible et protégé.
      </div>
    </div>
                     </div>                  
                   
                       <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Gestion Hôtelière Réinventée - Excellence d'Hospitalité :      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
           Transformez la gestion hôtelière avec notre système complet. Réservations, chambres, tout en un.      </div>
    </div>
                     </div>
                   
                       <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
         Learning Management System (LMS) Intelligent - Éduquez avec IA :      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
         L'IA personnalise les parcours d'apprentissage. L'apprentissage évolue avec vos étudiants.      </div>
    </div>
                     </div>
                                      
                       <div class="accordion-item">
    <h2 class="accordion-header" id="headingFour">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          Gestion RH Connectée avec IoT - Modernité RH :      </button>
    </h2>
    <div id="collapseFour" class="accordion-collapse collapse " aria-labelledby="headingFour" data-bs-parent="#accordionExample">
      <div class="accordion-body">
          Réinventez la gestion RH avec notre application. Suivi, tâches, présence, tout devient fluide.      </div>
    </div>
                     </div>
                                      
                       <div class="accordion-item">
    <h2 class="accordion-header" id="headingFive">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
         SEO Dynamique pour Visibilité en Ligne - Rayonnez en Ligne :      </button>
    </h2>
    <div id="collapseFive" class="accordion-collapse collapse " aria-labelledby="headingFive" data-bs-parent="#accordionExample">
      <div class="accordion-body">
      Dominez en ligne avec notre solution SEO dynamique. Plus de trafic, plus de visibilité.      </div>
    </div>
                     </div>
                                      
                       <div class="accordion-item">
    <h2 class="accordion-header" id="headingSix">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
          Surveillance Complète avec Monitoring Humain - Sécurité Totale :
    </h2>
    <div id="collapseSix" class="accordion-collapse collapse " aria-labelledby="headingSix" data-bs-parent="#accordionExample">
      <div class="accordion-body">
          Sécurité renforcée avec surveillance humaine et archivage vidéo sécurisé.   
      </div>
    </div>
                     </div>
                                      
                       <div class="accordion-item">
    <h2 class="accordion-header" id="headingSeven">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
           Réseau Interne Optimisé - Maîtrisez vos Connexions :    </h2>
    <div id="collapseSeven" class="accordion-collapse collapse " aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Contrôlez votre réseau interne avec précision grâce à notre solution de mappage et monitoring.   
      </div>
    </div>
                     </div>                 
                   
                       <div class="accordion-item">
    <h2 class="accordion-header" id="headingEight">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
         Collecte et Analyse de Données Intelligente - Valeur des Données :    </h2>
    <div id="collapseEight" class="accordion-collapse collapse " aria-labelledby="headingEight" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Maximisez vos données avec notre plateforme. Collecte, analyse et visualisation en temps réel.   
     </div>
    </div>
                     </div>
                                     
                       <div class="accordion-item">
    <h2 class="accordion-header" id="headingNine">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
          Business Intelligence et Analyse de Données - Vision Claire des Données :    </h2>
    <div id="collapseNine" class="accordion-collapse collapse " aria-labelledby="headingNine" data-bs-parent="#accordionExample">
      <div class="accordion-body">
          Révolutionnez l'analyse de données avec notre solution.
      </div>
    </div>
                     </div>

            </div>

          </div>


          <div class="col-lg-5 align-self-center">
          <div class="section-heading">
            <h2>Solutions Logicielles - Créez l'Avenir Numérique :</h2>
            <p>
                Le développement logiciel est clé pour la compétitivité. Des solutions sur mesure, de la conception à l'implémentation.
            </p>
            
          </div>
        </div>
     </div> 
     </div> 

     <div class="container m-5 p-5" >
        <div class="col-lg-8 offset-lg-2" >
          <div class="section-heading m-5" >
            <h2> Solutions Matérielles - Innovation Technologique :</h2>
            <p><strong>Hébergement Web Fiable et Performant - Votre Présence en Ligne :</strong>
              Solutions d'hébergement web pour une disponibilité élevée et des performances optimales.

            </p>
            
          </div>
        </div>
     </div>

     <div class="services section" id="services">
    <div class="container">
        <h4>Solutions d'Hébergement Cloud :</h4>
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="service-item">
            
            <div class="main-content">
              <h4>Cloud Basic - Hébergement Cloud</h4>
              <p>Espace de stockage: 20 Go SSD <br>
                 RAM: 2 Go<br>
                 Processeur: 1 vCPU  <br>
                 Trafic mensuel: Illimité <br>
                 Support technique: Standard<br>
                 Prix mensuel: 25 DT <br>
              </p>
              
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="service-item">
            
            <div class="main-content">
              <h4>Cloud Plus - Hébergement Cloud</h4>
              <p>
                Espace de stockage: 50 Go SSD <br>
                RAM: 4 Go <br>
                Processeur: 2 vCPU <br>
                Trafic mensuel: Illimité <br>
                Support technique: Premium (24/7) <br>
                Prix mensuel: 45 DT <br>               
              </p>
              
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="service-item">
            
            <div class="main-content">
              <h4>Cloud Pro - Hébergement Cloud</h4>
              <p>Espace de stockage: 100 Go SSD <br>
                 RAM: 8 Go <br>
                 Processeur: 4 vCPU <br>
                 Trafic mensuel: Illimité <br>
                 Support technique: Premium (24/7) <br>
                 Certificat SSL: Inclus <br>
                 Prix mensuel: 75 DT <br>
              </p>
              
            </div>
          </div>
        </div>
      </div>
    </div>
     </div>


<%- include('parts/bottom.ejs')%>