               <div class="col-12">
                    <nav class="navbar navbar-expand-xl navbar-light bg-light">
                        <a class="navbar-brand" href="/admin">
                            <i class="fas fa-3x fa-tachometer-alt tm-site-icon"></i>
                            <h1 class="tm-site-title mb-0" >Dash Admin</h1>
                        </a>
                        <button class="navbar-toggler ml-auto mr-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mx-auto">

                                <li class="nav-item">
                                    <a class="nav-link" href="/">App</a>
                                </li>
                                
                                <li class="nav-item">
                                    <a class="nav-link" href="adminservice">Service</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="tableusers">Accounts</a>
                                </li>
                              
                                 <li class="nav-item">
                                    <a class="nav-link" href="demandedevis">Demande devis</a>
                                </li>
                              

                                <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                    Update pages 
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="updatecontact">Update Page Contact</a>
                                    <a class="dropdown-item" href="updateabout">Update Page about</a>
                                    <a class="dropdown-item" href="updatesolution">Update Page Solution</a>
                                </div>
                            </li>




                            </ul>
                            <ul class="navbar-nav">
                                <form method="POST" action="/logout">
                                  <button class="btn btn-outline-danger mt-2" type="submit">Sign up</button>
                                </form>
                            </ul>
                        </div>
                    </nav>
                </div>